:root {
    --page: gainsboro;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s ease;
    font-weight: normal;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home {
    background-image: url(images/drew-coffman-1872.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    overflow: auto;
}

.home .nav .container {
    display: flex;
    justify-content: space-between;
}

.home-cap {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 10%;
}

.nav-logo {
    width: 15%;
    margin-top: 10px;
}

.nav-logo img {
    width: 100%;
}

.nav-links {
    margin-left: auto;
}

.nav-links ul {
    margin-top: 10px;
    display: flex;
    justify-content: end;
    margin-right: 0;
}

.nav-links ul li {
    list-style-type: none;
    padding: 15px;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
}

.nav-links ul li a:hover {
    color: #caae84;
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
}

.home-cap p {
    font-size: 23px;
}

.home-cap h1 {
    font-size: 55px;
    font-weight: bold;
    margin: 20px 0;
}

.home-cap .btn {
    padding: 17px;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    margin: 20px 5px;
    cursor: pointer;
}

.home-cap .btn:hover {
    background-color: white;
    color: black;
}

.home-cap .btn1 {
    background-color: #8e7754;
    border-width: 0;
}

.home-cap .btn2 {
    background-color: transparent;
    border: 2px solid white;
}

.scroll {
    width: 35px;
    height: 50px;
    border: 2px solid white;
    border-radius: 40%;
    margin: auto;
    margin-top: 40px;
}

@media screen and (max-width:768px) {

    .home-cap {
        font-size: x-small;
        margin-top: 20%;
    }

    .nav-logo {
        width: 20%;
        margin-top: 20px;
    }

    .nav-links ul li {
        font-size: small;
        padding: 15px 9px;
    }
}

/*    </home>  */

/* About */
.about {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 40%;
}

.about-img img {
    width: 90%;
    text-align: end;
}

.about-cap {
    width: 50%;
    font-size: 18px;
    text-align: start;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #686868;
    margin-right: 20px;
}

.about-cap h2 {
    color: black;
}

.about-cap p {
    margin: 20px 0;
}

.about-list {
    text-align: left;
    margin-left: 20px;
}


.about-list ul li {
    padding: 15px;
}

@media screen and (max-width:768px) {
    .about {
        flex-direction: column;
    }

    .about-img {
        width: 80%;
        margin: auto;
    }

    .about-cap {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: medium;
        width: 80%;
    }
}

/* </about> */


/* offer */
.offer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location {
    background-color: var(--page);
    margin: 50px 0px;
    padding: 50px 0px;
}

.offer-cap {
    width: 50%;
    text-align: start;
    margin: 50px 30px;
    color: #686868;

}

.offer-cap h2 {
    color: black;
}

.offer-img {
    width: 40%;
}

.offer-img img {
    width: 100%;
}

.para {
    margin: 30px 0px;
}

@media screen and (max-width:768px) {
    .offer {
        flex-direction: column-reverse;
    }

    .offer-img {
        width: 80%;
        margin: auto;
    }

    .offer-cap {
        margin: auto;
        margin: 20px 0px;
        font-size: medium;
        width: 80%;
    }
}

/* </Offer> */


/* Gallary */
.gallary {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.gallary h1 {
    padding-top: 20px;
}

.gallary p {
    padding-top: 20px;
    padding-bottom: 30px;
}

.meals {
    display: flex;
    justify-content: center;
    align-items: center;
}

.meal h4,
.meal h2 {
    padding-top: 10px;
    font-weight: normal;
}

.meal {
    width: 30%;
}

.meal img {
    width: 100%;
}

.inner {
    padding: 30px;
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .meals {
        display: flex;
        flex-wrap: wrap;
    }

    .meal img {
        width: 90%;
    }

    .gallary .meals .meal {
        width: 45% !important;
    }

}

@media screen and (max-width:768px) {
    .meals {
        display: block;
    }

    .gallary .meals .meal {
        width: 100% !important;
        margin: 15px 0px;
    }

    .meal img {
        width: 60%;
    }
}

/* </Gallary> */


/* Blog */

.contact-map {
    background-color: var(--page);
    margin-top: 50px;
    padding: 50px 0px;
}

.blog {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.blog-map {
    width: 30%;
}

.blog-cap h2,
.blog-cap h4,
.blog-cap .about-list {
    margin: 20px 0px;
}

.blog-cap {
    width: 50%;
    text-align: start;
    margin-top: 30px;
}

.blog-cap .about-list {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
}


.blog-cap .about-list ul li {
    padding: 15px;
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .blog {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .blog-map {
        width: 45%;
    }


    .blog-cap {
        width: 50%;
        text-align: start;
        margin-top: 30px;
    }
}

@media screen and (max-width:768px) {
    .blog {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .blog-map {
        width: 70%;
        text-align: center;
        overflow: hidden;
    }

    .blog-cap {
        width: 80%;
        text-align: start;
        margin: 30px 0px;
        margin: auto;
    }
}

/* </Location> */
/* Contact */

.contact {
    padding: 50px 0px;
    background-color: rgb(70, 68, 68);
}

.contact .container {
    display: flex;
    justify-content: space-evenly;
}

.contact-row {
    width: 20%;
    color: white;
}

.contact-row h3 {
    margin: 30px 0px;
    padding-left: 20px;
}

.contact-row h4 {
    color: #b8b8b8;
    padding-bottom: 20px;
    padding-left: 20px;
}

.contact-row ul {
    padding-left: 20px;
    list-style-type: none;
    color: #b8b8b8;
}

.contact-row ul hr {
    margin: 15px 0px;
    border: 1px solid rgb(109, 109, 109);
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .contact .container {
        flex-wrap: wrap;
    }

    .contact-row {
        width: 50%;
        color: white;
        margin-bottom: 30px;
    }

}

@media screen and (max-width:800px) {
    .contact .container {
        flex-wrap: wrap;
    }

    .contact-row {
        width: 80%;
        color: white;
        margin-bottom: 30px;
    }

}

.info {
    background-color: rgb(47, 46, 46);
    color: white;
}

.info-cap {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.info-cap img {
    width: 10%;
}